@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.shop-times {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.shop-times__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shop-times__days {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-times__header {
    margin: 0;
    font-size: 26px;
    padding-bottom: 30px;
    text-align: center;
}

.shop-times__times {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    opacity: 0.5;
}

.shop-times__local-time, .shop-times__office-time {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

.shop-times__day {
    width: 300px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    opacity: 0.3;
}

.shop-times__day.open {
    opacity: 1;
}

.shop-times__day-closed {
    width: 75%;
}

span {
    text-align: center;
    width: calc(100% / 4);
}

span:first-of-type {
    text-align: left;
}

.shop-times__small-header {
    margin: 5px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}

